*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow:  wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
  }
body > nav{
    flex:1;
    background-color: #0fc9b3;
    padding: 20px 30px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
body >  main{
    flex:5;
    background-color: rgb(253, 253, 253);
    padding: 40px;
    line-height: 1.8;
    word-spacing: 1.2px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#profile-img-comtainer{
    align-content: center;
}
#profile-img-comtainer img{
    padding: 0px;
    border-radius: 50%;      
}
#nav-intro{
    font-size: 15px;
    margin-top: 20px;
}
#social-icons-container{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
}

#nav-li-links a, a:visited{
    color:white;
    font-size: 25px;    
}
#nav-li-links a:hover{
    text-decoration: underline;
}
#nav-li-links{
    margin-top: 20px;
    text-align: left;
}
#nav-li-links ul{
    list-style: none;
}
#nav-li-links ul li{
    margin-bottom: 5px;
}
#social-icons-container{
    margin-top:40px;
}
.fa{
    background-color: #0caa98;
    color:white;
    padding: 20px;
    margin: 3px;
    font-size: 70px;
    width: 40px;
    height: 40px;
    padding:11px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;    
}
.fa:hover{
    background-color: white;
    color: #0caa98;
}
.right-ind-head{
    font-size: 35px;    
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 7px;
}
.right-ind-span{
    font-size: 20px;
    color:grey;
}
.right-ind-main{
    margin-top: 2px;
    color: rgb(52, 59, 59);
}
#intro{
    margin-bottom: 20px;
}
.gap-t-b-40{
    margin-top: 20px;
    margin-bottom: 20px;
}
.v-line{
    width:0px;
    border:0.5px solid grey;
    margin: 0px 5px;
}
hr{
    color:rgb(192, 192, 192);
    height: 1px;
    background-color: rgb(192, 192, 192);
    border-radius: 100px;
}